# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
main.js
main.js.map
*.js.map

# Editor
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

# Plugin development
.hotreload
data.json
node_modules/
src/
